
/*estilos de encavezado*/
header
{
  background-color:#FF69B4;
  /*color de fondo del header*/
  color:yellow;
  /*color texto*/
  padding:10px 0;
}
  /*estilos de la barra de navegacion*/
nav ul
{
list-style-type:none;
/*elimina las viñetas de la lista*/
padding:0;
}
/*estiloa generales del cuerpondel documento*/
body
{
  font-family:arial,sans-serif;
  /*fuente del texto*/
  background-color:#f4f4f4;
  /*color fondo*/
  text-align:center;
  /*alineacion del texto*/
  margin:∅;
}
section
{ 
  padding:20px
}
article
{ 
  background-color: #FFC5C5;
  color:lightpink;
  padding:15px;
  margin:10px;
  widh:80%;
  border-radius: 5px;
  box-shadow:2px 2px 10px #90EE90;
  
}
foter
{ background-color:pink;
  color:gold;
  padding:10px 0;
  margin-top:20px;
}
img
{
  width:200px;
  heigth:200px;
}

